* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #101010;
  padding: 5vw;
  color: rgb(237, 237, 237);
}

svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: rgb(237, 237, 237);
  fill: rgb(0, 0, 0);
}

h2 {
  color: rgb(237, 237, 237);
  margin-bottom: 20px;
}

ul {
  margin-left: 30px;
}

a {
  color: rgb(189, 172, 246);
}

.home-container {
  padding: 5px;
  border-radius: 50%;
  background-color: #3c3c3c80;
}

.projects-container {
  padding: 20px 0px;
}

@media screen and (max-width: 430px) {
  :root {
    font-size: 0.8rem;
  }
}
